<div class="container">
  <h1><%= @user.name %>様のユーザー情報</h1>
    <div class="row">
      <table class="table table-hover">
        <tr>
          <th class="table-primary col-4"><%= t('members.name') %></th>
          <td><%= @user.name %></td>
        </tr>    
        <tr>
          <th class="table-primary col-4"><%= t('members.email') %></th>
          <td><%= @user.email %></td>
        </tr>
      </table>
    </div>
  <%= link_to t('button.edit'), edit_user_registration_path, class:"btn btn-outline-primary" %>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"btn btn-outline-danger"  %>
</div>

