<%= form_with(model: personal, local: true) do |form| %>
  <% if personal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(personal.errors.count, "error") %> エラーがあります。</h2>

      <ul>
        <% personal.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">

    <div class="row">
      <div class="form-group">
        <%= form.label t('personals.birth_date') %>
        <%= form.date_select :birth_date, class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <%= form.label t('personals.height') %>
        <%= form.text_field :height, class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <div class="field">
        <%= form.label t('personals.body_weight') %>
        <%= form.text_field :body_weight, class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <div class="field">
        <%= form.label t('personals.gender') %>
        <%= form.check_box :gender, class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <div class="field">
        <%= form.label t('personals.bmi') %>
        <%= form.text_field :bmi, class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <div class="field">
        <%= form.label t('personals.waist_circumference') %>
        <%= form.text_field :waist_circumference, class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <div class="field">
        <%= form.label t('personals.hba_onec') %>
        <%= form.text_field :hba_onec, class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <div class="field">
        <%= form.label t('personals.underlying_disease') %>
        <%= form.text_area :underlying_disease, class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <div class="field">
        <%= form.label t('personals.intake_per_oneday') %>
        <%= form.text_field :intake_per_oneday, class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <div class="field">
        <%= form.label t('personals.remarks') %>
        <%= form.text_area :remarks, class: 'form-control' %>
      </div>
    </div>

    <%= form.hidden_field :id, value: personal.id %>

    <div class="actions">
      <%= form.submit class:"btn btn-outline-primary" %>
    </div>

  </div>
<% end %>