<div class="container">

  <%= form_with(model: meal, local: true) do |form| %>
    <% if meal.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(meal.errors.count, "件") %> の未入力があります。</h2>

        <ul>
          <% meal.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">
      <div class="form-group">
        <%= form.label t('meals.sugar_amount') %>
        <%= form.number_field :sugar_amount, class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <%= form.label t('meals.sugar_cube') %>
        <%= form.number_field :sugar_cube, class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <%= form.label t('meals.classification') %><br />
        <%= form.select :classification, Meal.classifications.keys, class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <%= form.label t('meals.start_time') %>
        <%= form.date_field :start_time, class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <%= form.label t('meals.remarks') %>
        <%= form.text_area :remarks, class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <%= form.label t('meals.image') %><br />
        <%= form.file_field :image, class:"btn btn-outline-primary" %>
      </div>
    </div>

    <div class="form-group">
        <%= form.submit class:"btn btn-outline-primary" %>
    </div>

  <% end %>
</div>
