<%= form_with(model: meal, local: true) do |form| %>
  <% if meal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meal.errors.count, "error") %>のエラーがあります。</h2>

      <ul>
        <% meal.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">

    <div class="row">
      <div class="form-group">
        <%= form.label t('meals.sugar_amount') %>
        <%= form.number_field :sugar_amount, class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <%= form.label t('meals.sugar_cube') %>
        <%= form.number_field :sugar_cube, class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <%= form.label t('meals.classification') %>
        <%= form.number_field :classification, class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <%= form.label t('meals.start_time') %>
        <%= form.date_field :start_time, class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <%= form.label t('meals.remarks') %>
        <%= form.text_area :remarks, class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <%= form.label t('meals.image') %>
        <%= form.file_field :image, class:"btn btn-outline-primary" %>
      </div>
    </div>

    <div class="form-group">
        <%= form.submit class:"btn btn-outline-primary" %>
    </div>

  </div>
<% end %>
