<% if current_user.id == @meal.user_id %>
  <h1><%= t('button.show') %></h1>
<% else %>
  <h1 style="color:#ff0000">現在、「<%= @meal.user.name %>」様の「食事詳細」を閲覧中！！</h1>
<% end %>

<div class="row">
  <div class="col-sm-6">
    <table class="table">
      <tr>
        <th class="table-primary col-4"><%= t('meals.sugar_amount') %></th>
        <td id="user_sugar_amount"><%= @meal.sugar_amount %>g</td>
      </tr>
      <tr>
        <th class="table-primary col-4"><%= t('meals.sugar_cube') %></th>
        <td>約<%= @meal.sugar_cube %>個分</td>
      </tr>
      <tr>
        <th class="table-primary col-4"><%= t('meals.classification') %></th>
        <td><%= @meal.classification %></td>
      </tr>
      <tr>
        <th class="table-primary col-4"><%= t('meals.remarks') %></th>
        <td><%= @meal.remarks %></td>
      </tr>
    </table>
  </div>    
  <div class="col-sm-6">
    <%= image_tag @meal.image.url %>
  </div>
</div>
<%= link_to t('button.back'), meals_path(id: @meal.user_id), class:"btn btn-outline-primary" %>
<% if current_user.id == @meal.user_id %>
  <%= link_to t('button.edit'), edit_meal_path(id: @meal.id), class:"btn btn-outline-primary" %>
  <%= link_to t('button.calendar'), meal_calendar_path(current_user.id), class:"btn btn-outline-primary" %>
<% end %>

<% if my_group&.owner_id != nil %>
  <% if current_user.id == my_group.owner_id && @post == nil %>    
    <hr>
      <%= form_with(model: Post.new, local: true) do |form| %>

        <div class="row">
          <div class="form-group">
            <%= form.label t('posts.owner_comment') %>
            <%= form.text_area :owner_comment, placeholder: "例：糖質の摂り過ぎです。控えましょう", class: 'form-control' %>
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <%= form.label t('posts.owner_sugar_amount') %>
            <%= form.number_field :owner_sugar_amount, placeholder: "例：100", class: 'form-control' %>
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <%= form.label t('posts.difference') %>
            <p>「管理者から見た糖質量(g)-糖質量(g)」で自動計算しております。修正する場合、入力して下さい。</p>
            <%= form.number_field :difference, placeholder: "例：50　→　100", class: 'form-control' %>
          </div>
        </div>

      <%= form.hidden_field :meal_id, value: @meal.id %>
      <div class="actions">
        <%= form.submit class:"btn btn-outline-success" %>
      </div>
      <%= link_to '社員一覧に戻る', member_all_path(id: current_user.id ), class:"btn btn-outline-success" %>
    <% end %>
    <hr>
  <% end %>
<% end %>

<% if @post.present? %>
  <hr>
  <h3 class="text-center">管理者「<%= my_group.users.first.name %>」さんからのコメント</h3>
  <table class="table">
    <tr>
      <th class="table-primary col-4"><%= t('posts.owner_comment') %></th>
      <td><%= @post.owner_comment %></td>
    </tr>
    <tr>
      <th class="table-primary col-4"><%= t('posts.owner_sugar_amount') %></th>
      <td><%= @post.owner_sugar_amount %>g</td>
    </tr>
    <tr>
      <th class="table-primary col-4"><%= t('posts.difference') %></th>
      <td><%= @post.difference %>g</td>
    </tr>
  </table>
<% end %>
