<div class="container">
  <div class="row">

    <div class="col-sm-6">
      <table class="table">
        <tr>
          <th class="table-primary col-4"><%= t('meals.sugar_amount') %></th>
          <td><%= @meal.sugar_amount %>g</td>
        </tr>
        <tr>
          <th class="table-primary col-4"><%= t('meals.sugar_cube') %></th>
          <td>約<%= @meal.sugar_cube %>個分</td>
        </tr>
        <tr>
          <th class="table-primary col-4"><%= t('meals.classification') %></th>
          <td><%= @meal.classification %></td>
        </tr>
        <tr>
          <th class="table-primary col-4"><%= t('meals.remarks') %></th>
          <td><%= @meal.remarks %></td>
        </tr>
      </table>
    </div>
      
    <div class="col-sm-6">
      <%= image_tag @meal.image.url %>
    </div>

    <%= link_to t('button.edit'), edit_meal_path(id: @meal.id), class:"btn btn-outline-primary" %>
    <%= link_to t('button.back'), meals_path(id: @meal.user_id), class:"btn btn-outline-primary" %>
    <%= link_to t('button.calendar'), meal_calendar_path(current_user.id), class:"btn btn-outline-primary" %>

  </div>
</div>

<% if my_group&.owner_id != nil %>
  <% if current_user.id == my_group.owner_id && @post == nil %>    
    <hr>
      <div class="container">
      <%= form_with(model: Post.new, local: true) do |form| %>

        <div class="row">
          <div class="form-group">
            <%= form.label t('posts.owner_comment') %>
            <%= form.text_area :owner_comment, class: 'form-control' %>
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <%= form.label t('posts.owner_sugar_amount') %>
            <%= form.number_field :owner_sugar_amount, class: 'form-control' %>
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <%= form.label t('posts.difference') %>
            <%= form.number_field :difference, class: 'form-control' %>
          </div>
        </div>

      <%= form.hidden_field :meal_id, value: @meal.id %>

      <div class="actions">
        <%= form.submit class:"btn btn-outline-success" %>
      </div>

      <%= link_to 'メンバー一覧に戻る', member_all_path(id: current_user.id ), class:"btn btn-outline-success" %>
    <% end %>
    <hr>
  <% end %>
<% end %>
<% if @post.present? %>
<div class="container">
  <hr>
  <h1>管理者からの投稿</h1>
  <table class="table">
    <tr>
      <th class="table-primary col-4"><%= t('posts.owner_comment') %></th>
      <td><%= @post.owner_comment %></td>
    </tr>
    <tr>
      <th class="table-primary col-4"><%= t('posts.owner_sugar_amount') %></th>
      <td><%= @post.owner_sugar_amount %>g</td>
    </tr>
    <tr>
      <th class="table-primary col-4"><%= t('posts.difference') %></th>
      <td><%= @post.difference %>g</td>
    </tr>
  </table>
<% end %>
</div>