<h1 class="text-center"><%= t('foods.all') %></h1>

<% if current_user.try(:admin?) %>
  <%= link_to t('button.new'), new_food_path, class:"btn btn-outline-primary" %><br>
<% end %>

<p><span style="color:blue">「糖質量」</span>をクリックすることで並び替えすることができます。なお、この表はWebアプリ管理会社により定期的に更新されます。</p>

<table class="table table-hover">
  <thead>
    <tr class="table-primary">
      <th>No.</th>
      <th><%= t('foods.classification') %></th>
      <th><%= t('foods.food_name') %></th>
      <th><%= t('foods.food_amount') %></th>
      <th><%= sort_link(@q, :sugar_amount, t('foods.sugar_amount'), default_order: :desc) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foods.each_with_index do |food, i| %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= food.classification %></td>
        <td><%= food.food_name %></td>
        <td><%= food.food_amount %>g</td>
        <td><%= food.sugar_amount %>g</td>

        <% if current_user.try(:admin?) %>
          <td><%= link_to t('button.edit'), edit_food_path(food), class:"btn btn-outline-primary" %></td>
          <td><%= link_to t('button.destroy'), food, method: :delete, data: { confirm: '削除しますか?' }, class:"btn btn-outline-primary" %></td>
        <% end %>
        
      </tr>
    <% end %>
  </tbody>
</table>
