<!DOCTYPE html>
<html>
  <head>
    <title>M1c</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div class="page">
        <header tabindex="0">
        <a href="/meals">M1c</a>
        </header>
      <div id="nav-container">
        <div class="bg"></div>
        <div class="button" tabindex="0">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </div>
        <div id="nav-content" tabindex="0">
          <ul>
            <% if user_signed_in? %>

              <% if current_user.try(:admin?) %>
                <%= link_to "管理画面へ", rails_admin_path, class:"btn btn-outline-success" %>
              <% end %>

              <p>氏名：<%= current_user.name %>様</p>
              <% if my_group.present? %>
                <p>所属：<%= my_group.name %></p>
              <% else %>
                <p>未所属</p>
              <% end %>

              <%= link_to "Mypersonal", personal_path(id: current_user.id), class:"btn btn-outline-primary" %>
              <%= link_to "食事投稿", meals_path, class:"btn btn-outline-primary"  %>
              <%= link_to "お気に入り一覧", favorites_path, class:"btn btn-outline-primary" %>
              <%= link_to "グラフ", meal_graph_path(current_user.id), class:"btn btn-outline-primary"  %>
              <%= link_to "カレンダー", meal_calendar_path(current_user.id), class:"btn btn-outline-primary"  %>
              <%= link_to "みんなの食事", homes_path, class:"btn btn-outline-primary"  %>
              <%= link_to "グループ参加・作成", groups_path, class:"btn btn-outline-primary"  %>

              <% if my_group&.owner_id != nil %>
                <% if my_group.owner_id == current_user.id %>
                  <%= link_to "メンバー一覧", member_all_path(id: my_group.id), class:"btn btn-outline-success", method: :get %>
                <% end %>
              <% end %>

              <%= link_to "ユーザー情報編集", user_path(current_user.id), class:"btn btn-outline-danger"  %>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"btn btn-outline-danger"  %>
            <% else %>
              <%= link_to "新規登録", new_user_registration_path, class:"btn btn-outline-primary"  %>
              <%= link_to "ログイン", new_user_session_path, class:"btn btn-outline-primary"  %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <% if notice %>
      <div class="alert alert-primary" role="alert">
        <%= notice %>
      </div>
    <% end %>

    <% if alert %>
      <div class="alert alert-primary" role="alert">
        <%= alert %>
      </div>
    <% end %>


    <div class="all_body">
      <%= yield %>
    </div>

    <footer>
      <p>Copyright ©︎ 2021 M1c All Rights Reserved.</p>
    </footer>

  </body>

</html>
