<!DOCTYPE html>
<html>
  <head>
    <title>M1c</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if notice %>
      <div class="alert alert-primary" role="alert">
        <%= notice %>
      </div>
    <% end %>

    <% if alert %>
      <div class="alert alert-primary" role="alert">
        <%= alert %>
      </div>
    <% end %>

    <div class="all_body">
      <%= yield %>
    </div>

  </body>

</html>
