<!DOCTYPE html>
<html>
  <head>
    <title>M1c</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrapper">
      <div class="page">
        <header>
          <div class="header1">
            <a href="/meals">M1c</a>
          </div>
        </header>
      <div id="nav-container">
        <div class="bg"></div>
        <div class="button" tabindex="0">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </div>
        <div id="nav-content" tabindex="0">
          <ul>
            <% if user_signed_in? %>

              <p>氏名：<%= current_user.name %>様</p>
              <% if my_group.present? %>
                <p>会社名：<%= my_group.name %></p>
              <% else %>
                <p>未所属</p>
              <% end %>

              <% if current_user.try(:admin?) %>
                <%= link_to "管理画面へ", rails_admin_path, class:"btn btn-outline-success" %>
              <% end %>
              <%= link_to "使い方ガイド", howtos_path, class:"btn btn-outline-danger" %>
              <%= link_to "プロフィール", personal_path(id: current_user.id), class:"btn btn-outline-primary" %>
              <%= link_to "食事投稿", meals_path, class:"btn btn-outline-primary"  %>
              <%= link_to "糖質ガイド", foods_path, class:"btn btn-outline-danger" %>
              <%= link_to "お気に入り一覧", favorites_path, class:"btn btn-outline-primary" %>
              <%= link_to "グラフ", meal_graph_path(current_user.id), class:"btn btn-outline-primary"  %>
              <%= link_to "カレンダー", meal_calendar_path(current_user.id), class:"btn btn-outline-primary"  %>
              <%= link_to "みんなの食事", homes_path, class:"btn btn-outline-primary"  %>
              <%= link_to "会社へ参加・作成", groups_path, class:"btn btn-outline-primary"  %>

              <% if my_group&.owner_id != nil %>
                <% if my_group.owner_id == current_user.id %>
                  <%= link_to "社員一覧", member_all_path(id: my_group.id), class:"btn btn-outline-success", method: :get %>
                <% end %>
              <% end %>

              <%= link_to "ユーザー情報編集", user_path(current_user.id), class:"btn btn-outline-danger"  %>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"btn btn-outline-danger"  %>
            <% else %>
              <%= link_to "使い方ガイド", howtos_path, class:"btn btn-outline-danger" %>
              <%#= link_to "新規登録", new_user_registration_path, class:"btn btn-outline-primary"  %>
              <%#= link_to "ログイン", new_user_session_path, class:"btn btn-outline-primary"  %>
            <% end %>
          </ul>
        </div><!--nav-content-->
      </div><!--nav-container-->
    </div><!--wrapper-->

    <% if user_signed_in? %>
      <% if Member.find_by(user_id: current_user&.id) == nil %>
        <div class="alert alert-primary" role="alert">
          <p>現在どの会社に所属していません。社員証を確認後、会社に参加して管理者に食事内容を確認してもらいましょう！</p>
        </div>
      <% end %>
    <% end %>

    <% if notice %>
      <div class="alert alert-primary" role="alert">
        <%= notice %>
      </div>
    <% end %>

    <% if alert %>
      <div class="alert alert-primary" role="alert">
        <%= alert %>
      </div>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>

    <footer>
      <p>Copyright ©︎ 2021 M1c All Rights Reserved.</p>
    </footer>

  </body>

</html>
