<!DOCTYPE html>
<html>
  <head>
    <title>M1c</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if user_signed_in? %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <p>氏名：<%= current_user.name %>様</p>
      <%= link_to "グラフ", meal_graph_path(current_user.id), class:"btn btn-outline-primary"  %>
      <%= link_to "カレンダー", meal_calendar_path(current_user.id), class:"btn btn-outline-primary"  %>
    <% else %>
      <%= link_to "新規登録", new_user_registration_path %>
      <%= link_to "ログイン", new_user_session_path %>
    <% end %>

    <% if notice %>
      <div class="alert alert-primary" role="alert">
        <%= notice %>
      </div>
    <% end %>

    <% if alert %>
      <div class="alert alert-primary" role="alert">
        <%= alert %>
      </div>
    <% end %>

    <div class="all_body">
      <%= yield %>
    </div>

  </body>

</html>
