<!DOCTYPE html>
<html>
  <head>
    <title>M1c</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrapper">
      <div class="page">
        <header>
          <div class="header1">
            <a href="/meals">M1c</a>
          </div>
          <div class="header2">
            <%= link_to "糖質ガイド", foods_path, class:"btn btn-outline-danger" %>
          </div>
          <div class="header3">
            <%= link_to "使い方ガイド", howtos_path, class:"btn btn-outline-danger" %>
          </div>
        </header>
      <div id="nav-container">
        <div class="bg"></div>
        <div class="button" tabindex="0">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </div>
        <div id="nav-content" tabindex="0">
          <ul>
            <%= link_to "新規登録", new_user_registration_path, class:"btn btn-outline-primary"  %>
            <%= link_to "ログイン", new_user_session_path, class:"btn btn-outline-primary"  %>
          </ul>
        </div><!--nav-content-->
      </div><!--nav-container-->
    </div><!--wrapper-->

    <% if notice %>
      <div class="alert alert-primary" role="alert">
        <%= notice %>
      </div>
    <% end %>

    <% if alert %>
      <div class="alert alert-primary" role="alert">
        <%= alert %>
      </div>
    <% end %>

    <%= yield %>

    <footer>
      <p>Copyright ©︎ 2021 M1c All Rights Reserved.</p>
    </footer>

  </body>

</html>
